.numberTh {
  width: 40px;
}

.numberTd {
  text-align: center;
}

.imageTd {
  width: 80px;
}

.starTd {
  width: 140px;
}

.rankingTr1 {
  vertical-align: middle;
  background-color: lightgoldenrodyellow;
}

.rankingTr2 {
  vertical-align: middle;
  background-color: whitesmoke;
}

.rankingTr3 {
  vertical-align: middle;
  background-color: wheat;
}

.rankingTr, .rankingTr4, .rankingTr5 {
  vertical-align: middle;
}
