.drinkRankingDiv {
  background-color: #FAFAFD;
  margin-top: 60px;
  padding: 20px;
}

.rankingTitle {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.selectedTabClassName {
  background: lightyellow;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.crownIcon {
  margin-top: 7px !important;
}
