html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rankingColor1 {
  background-color: lightgoldenrodyellow;
}

.rankingColor2 {
  background-color: whitesmoke;
}

.rankingColor3 {
  background-color: wheat;
}
