html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.black {
  color: black;
}

.blue {
  color: #0d6efd !important;
}

.white {
  background-color: white;
}

.yellow {
  background-color: lightyellow;
}

.rankingColor1 {
  background-color: lightgoldenrodyellow;
}

.rankingColor2 {
  background-color: whitesmoke;
}

.rankingColor3 {
  background-color: wheat;
}

.contents {
  padding: 100px 10% 0px 10%;
}

.contentsLg {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contentsMd {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headingLg {
  padding: 0.5em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
}

.headingMd {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #ffaf58;
  margin-top: 15px;
}

.indexOlLg {
  list-style:none;
  background-color: #FAFAFD;
  padding: 5px 0px 15px 40px;
}

.indexOlMd {
  list-style:none;
  padding-top: 5px;
}

.indexLiLg {
  margin-top: 10px;
}

.indexLiMd {
  margin-top: 5px;
}

.descriptionUl {
  margin-top: 10px;
  font-weight: bold;
}

.numberTh {
  width: 40px;
}

.centerTr {
  text-align: center;
}

.centerTd {
  text-align: center;
}

.rankingTr {
  cursor: pointer;
  vertical-align: middle;
}

.imageTd {
  width: 80px;
}

.starTh {
  width: 140px;
}

.detailTh {
  width: 110px;
}

.drinkPageHeader {
  display: flex;
}

.drinkPageHeaderButton {
  margin: 0 0 0 auto;
  width: 135px;
}

.searchButton {
  margin: 10px 25px 10px 10px;
  width: 125px;
}

.detailSearchButton {
  margin: 10px 25px 10px 10px;
  width: 125px;
  float: right;
}

.searchText {
  width: 250px;
}

.modalTitle {
  padding: 0.5em;
  color: darkorange;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
  margin-bottom: 20px !important;
}

.modalLabel {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  padding-left: 25px !important;
}

.modalInput {
  padding: 0px 0px 15px 0px;
}

.modalFullText {
  width: 330px;
}

.modalRangeText {
  width: 80px;
  text-align: right;
}

.modalButton {
  width: 120px;
}

.orderSelect {
  width: 175px;
}

.spinnerDiv {
  text-align: center;
  margin: 50px;
}
